<div class="salary-container">
  <h2>Salaries</h2>

  <div class="form-table-container">
    <form (ngSubmit)="onSubmit()" #empForm="ngForm" class="salary-form">
      <div class="form-group">
        <h4>Add/Edit Form</h4>
        <mat-form-field >
          <input matInput placeholder="employee" [(ngModel)]="formData.employee" name="employee" required />
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="amount" [(ngModel)]="formData.amount" name="amount" required />
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="date" [(ngModel)]="formData.date" name="date"  required />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          {{ formData.id ? 'Update' : 'Add' }} 
        </button>
      </div>
    </form>

    <div class="salary-table">
      <h3>Salary List</h3>
      <table mat-table [dataSource]="salaries" class="mat-elevation-z8">

        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef>Employee</th>
          <td mat-cell *matCellDef="let e">{{ e.employee }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let e">{{ e.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let e">{{ e.date }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let e">
            <button mat-button (click)="edit(e)">Edit</button>
            <button mat-button color="warn" (click)="delete(e.id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    
  </div>
</div>
