.candidate-container {
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

table {
  width: 100%;
}

.form-table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: row; 
  background-color: var(--bg-color);
  color: var(--text-color);
}

.candidate-table {
  flex: 2 1 700px;
  overflow-x: auto;
  border: 1px solid var(--text-color) !important;
  white-space: nowrap;
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .form-table-container {
    flex-direction: column;
  }

  .candidate-form,
  .candidate-table {
    width: 100%;
    max-width: 100%;
    border: none;
  }

  .candidate-table table {
    min-width: 600px; 
  }
}

.candidate-form {
  flex: 1 1 300px;
  max-width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: 1px solid #4CAF50;
  gap: 0px;
  padding: 7px;
  border-radius: 8px;
}

.btn-hire{
  border: 1px solid #a84189;
}

.mat-form-field {
  margin: 2px 0 !important;
  font-size: 13px; 
  line-height: 1.5;
  height: 58px; 
}