<div id="app-container">
  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="over" class="sidenav" [opened]="false">
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="sidenav.close()">Home</a>
        <a mat-list-item routerLink="/employee" (click)="sidenav.close()">Employees</a>
        <a mat-list-item routerLink="/candidate" (click)="sidenav.close()">Candidates</a>
        <a mat-list-item routerLink="/department" (click)="sidenav.close()">Departments</a>
        <a mat-list-item routerLink="/company" (click)="sidenav.close()">Companies</a>
        <a mat-list-item routerLink="/salary" (click)="sidenav.close()">Salary</a>
        <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme">
          <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <mat-toolbar color="primary">

        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="logo" routerLink="/">HR System</span>

        <span class="spacer"></span>

        <div class="nav-links">
          <button mat-button routerLink="/">Home</button>
          <button mat-button routerLink="/employee">Employees</button>
          <button mat-button routerLink="/candidate">Candidates</button>
          <button mat-button routerLink="/department">Departments</button>
          <button mat-button routerLink="/company">Companies</button>
          <button mat-button routerLink="/salary">Salary</button>
          <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme">
            <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>