/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Theme variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --toolbar-bg: #1976d2;
  --sidenav-bg: #f5f5f5;
}

.dark-theme {
  --bg-color: #313131;
  --text-color: #ffffff;
  --toolbar-bg: #6d6b6b;
  --sidenav-bg: #1e1e1e;
}

/* Global styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.mat-toolbar {
  background-color: var(--toolbar-bg) !important;
  color: var(--text-color) !important;
}

.dark-theme .form-group{
    background-color: #f0e8e8 !important;
    color: #241e1e !important;
}

.mat-sidenav {
  background-color: var(--sidenav-bg) !important;
  color: var(--text-color) !important;
}

.mat-list-item {
  color: var(--text-color) !important;
}
